/* .navbar{
    height: 75px;
} */
.error{
    background-color: rgb(212, 95, 59);
    border-radius: 3px;
    color:white;
}
.content{
    min-height: 60vh;
}
.user{
    background-color:white;
    text-align: center;
    width: 58px;
    border-radius: 50%;
    border: solid white;
    font-size: 37px;
}
header ul li{
    align-self: center;
}
.dropdown-item{
    display: none;

}

.dropdown{
    position: relative;
}

.connecter{
    color: #ceff3a !important

}
li .connecter{
    text-decoration: none;
    /* margin-left: 15px; */
    padding:5px 0 5px 0;
}

.conn-li{
    border-radius:5px;
    font-weight: bold;
}
.reset-show{
    display: none !important;
}
/* .login-show{
    display:block;
} */
.hide{
    display:none !important;
}
.show {
    display:block !important;
}
.forgot-password{
    cursor: pointer;
}

.header{
    height: 10%;
}
.content{
    height: 80%;
}
footer{
    
    position: relative !important;
    bottom: 0 !important; 
    height: 80px;
}
.dropdown-menu {
    left: -90px;
}

.message{
    background-color: rgb(153, 214, 153);
}
.left-user-icon{
    font-size: 60px;
}

.container{
    min-height:90vh;
}