<h1>Dashboard</h1>
<ul>
    <li>{{this.name}}</li>
    <li>{{this.email}}</li>
</ul>
<a class="text-decoration-none" href="/user/profile">Profile</a>
<form action="/user/logout" method="POST">
    <button type="submit">Logout</button>
</form>
