<div class="container">
  <div class="main-body">
    <div class="row gutters-sm ">
      <h3 class="text-center" id="tite">Profile</h3>
      {{#if message}}
      <div class="message">{{message}}</div>
      {{/if}}
      {{>cardLeft}}
      {{>cardRight}}
    </div>
  </div>
</div>
