        <div class="row reset-show">
            <h1>Reset password</h1>
            <div class="col-md-4 offset-md-4">
                <div class="login-form bg-light mt-4 p-4">
                    <form action="/user/reset" method="POST" class="row g-3">
                        <h4>Login</h4>
                        <div class="col-12">
                            <label>User email</label>
                            <input type="email" name="email" class="form-control" placeholder="User email">
                        </div>
                       
                        <div class="col-12">
                            <a class="btn btn-success" href="/user/login">Cancel</a>
                            <button type="submit" class="btn btn-dark float-end">Reset</button>
                        </div>
                    </form>
                    <hr class="mt-4">
                    <div class="col-12">
                        <p class="text-center mb-0">Have not account yet? <a href="/user/register">Signup</a></p>
                    </div>
                </div>
            </div>
        </div>
